* {
  margin: 0;
  padding: 0;
}

html
body {
  width: 100%;
  height: 900px;
}

body {
  font: 10px 'Lucida Grande', sans-serif;
  color: #666;
}

#header {
  width:100%;
  height:6%;
  background-color: pink;

}

#titleMain {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

#titleSec {
  float: right;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

#mainContainer {
  width:100%;
  height:94%;
}

#graphContainer {
  width:80%;
  height:100%;
  background-color: #FF7F50;
  float:left;
  display: flex;
  justify-content: center;
  display:block;
}

#titleSection {
  height: 6%;
  width: 100%;
  margin-top: 2%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#graphTitle {
  font-size: 30px;
}


#graphInner {
  height: 75%;
  margin: 2% 2% 0 2%;
  padding:0px 4% 4% 4%;
  position: relative;
}

.chart {
  border: 1px dotted #C4C4C4;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;
}

.chart li {
  position: relative;
  display: table-cell;


}

.barContainer {
  height: 100%;
  vertical-align: bottom;
}

.bar {
  margin: 0 1em;
  display: block;
  background: rgba(209, 236, 250, .75);
  animation: draw 1s ease-in-out;
}

.bar:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

@keyframes draw {
  0% {
    height: 0;
  }
}

.gridContainer {
  height:auto;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: inherit;
}

#ticks {
  position: relative;
  top: -0px;
  left: 2px;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  border-top: 1px dotted #C4C4C4;
  width: 100%;
  height: 20%;
}

#ticks .tick p {
  position: absolute;
  left: -5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}

#stackedIndexSection {
  height: 8.75%;
  width: 100%;
  position:relative;
}

#stackedIndexContainer {
  width: 50%;
  height: 50%;
  margin:0 auto;
  background: rgba(209, 236, 250, .75);
}

.indexItem {
  width:32.5%;
  height:100%;
  display: inline-block;

  border-left: 1px dotted #C4C4C4;
  border-right: 1px dotted #C4C4C4;
  border-collapse: collapse;
}

.colourBox {
  width: 20px;
  height: 20px;
  background-color: red;

}

.indexItem p {
  font-size: 15px;
}

.stackAdd {
  color:black;
  background-color:#b4fa84
}

.stackRemove {
  color: black;
  background-color:#C21807;
}

#controlsContainer {
  width:20%;
  height: 100%;
  background-color: #FFEBCD;
  float:right;
  display: block;
}

#baseGraphContainer {
  background-color: white;
  margin: 6%;
}

#baseGraphContainer h2 {
  text-align: center;
  padding: 2%;
}

.titleInputContainer {
  display: flex;
  justify-content: center;
}

.titleInput {
  width:60%
  height: 20px;
  padding: 5px;
  text-align: center;

}

#titleSecContainer {
  padding: 10px;
}

#titleSecContainer form {
  padding:5px;
  height: 20px;
  padding-left:18%;
}

#titleSize {
  height: 25px;
}

#titleColour {
  float:right;
  margin-right:18%;
}

#yAxisForm {
  padding: 10px;
}
.yAxisUnits {
  padding: 5px;
}

#titleControlsContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#titleAdd {
  padding: 5px;
}

#barControlsContainer {
  background-color: white;
  margin: 6%;
}

#barTypesContainer {
  margin: 10px;
}

.typeInput {
  width : 50%;
}


#yAxisForm {
  display: flex;
  justify-content: center;
}

#barControlsContainer h2 {
  text-align: center;
  padding: 2%;
}

#controlsContainer1 {
  width:100%;
  display:inline;
  display: flex;
  justify-content: center;
}

#barSpacingContainer {
  margin: 10px;
}

#lessSpace {
  padding: 5px;
}

#moreSpace {
  padding: 5px;
}

#valueLocationContainer {
  margin: 10px;
}

#newBarValueContainer {
  background-color: white;
  margin: 6%;
  height:36%;
}

#newBarValueContainer h2 {
  text-align: center;
  padding: 2%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 15px
    border: none;
    cursor: pointer;
}


.existingDropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #f1f1f1}


.existingDropdown:hover .dropdown-content {
    display: block;
}


.existingDropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.existingBarValue {
  width: 100%;
  height:40px;
}

.barDelete {
  height: 20px;
  width:20px;
  color: red;
}
#newValuesContainer {
  background-color: #DCDCDC;
  width:100%;
  height:70%;

}

#barNameContainer {
  width:100%;
  height: 10%;

}

#barName{
  text-align: center
  padding: 10px;
}

#barInputContainer {
  height: 90%;


}

.valueInput {
  height:32%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exValueInput {
  height:32%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barValue {
  width: 30%;
}

.barValueAdd {
  color:green;
}

.barValueDelete {
  color: black;
  background-color:#C21807;
}

#valuesBtn {
  color: green;
  padding: 5px;
}

#masterControlsContainer {
  background-color: white;
  margin: 6%;
}

#masterControlsContainer h2 {
  text-align: center;
  padding: 2%;
}

#masterControlsContainer button {
  padding: 5px;
  margin: 4%;
}


#exportBtn {
  color: blue;
}

#processBtn {
  color: green;
}

#clearBtn {
  color: red;
}

